@charset "UTF-8";

tr.listbox01 td{
	text-align: center;
	border-top: 2px solid #256D85;
	border-bottom: 2px solid #256D85;
	border-radius: 10px;
	background-color: #256D85;
}

span.content_text02 {
	font-family: malgun;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;	
}

tr.listbox02 td{
	border-bottom: 2px solid #256D85;
}

tr.listbox02{
	text-align: center;
	font-family: malgun;
	font-size: 17px;
	font-weight: bold;
	color: #6c6c6c;
}

input.button_type02 {
	background-color: #84ddff;
	border: 2px solid #55d0ff;
	width: 188px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: #256D85;
	font-weight: bold;
	padding: 5px;
	float: right;
	margin-right:113px;
	margin-top:10px;
	cursor:pointer;
}

input.button_type02:hover{
	background-color: #00a5e3;
	color: #ffffff;
}



